WindowsFormsApp1/Connected Services/ServiceReference1/BankWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="BankWS" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://172.16.200.33:8080/BankWS/BankWS?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="consultUser">
    <part name="parameters" element="tns:consultUser" />
  </message>
  <message name="consultUserResponse">
    <part name="parameters" element="tns:consultUserResponse" />
  </message>
  <message name="saldoUser">
    <part name="parameters" element="tns:saldoUser" />
  </message>
  <message name="saldoUserResponse">
    <part name="parameters" element="tns:saldoUserResponse" />
  </message>
  <message name="cadastrarUser">
    <part name="parameters" element="tns:cadastrarUser" />
  </message>
  <message name="cadastrarUserResponse">
    <part name="parameters" element="tns:cadastrarUserResponse" />
  </message>
  <message name="alterCadastro">
    <part name="parameters" element="tns:alterCadastro" />
  </message>
  <message name="alterCadastroResponse">
    <part name="parameters" element="tns:alterCadastroResponse" />
  </message>
  <message name="deposito">
    <part name="parameters" element="tns:deposito" />
  </message>
  <message name="depositoResponse">
    <part name="parameters" element="tns:depositoResponse" />
  </message>
  <message name="saque">
    <part name="parameters" element="tns:saque" />
  </message>
  <message name="saqueResponse">
    <part name="parameters" element="tns:saqueResponse" />
  </message>
  <portType name="BankWS">
    <operation name="consultUser">
      <input wsam:Action="http://ws/BankWS/consultUserRequest" message="tns:consultUser" />
      <output wsam:Action="http://ws/BankWS/consultUserResponse" message="tns:consultUserResponse" />
    </operation>
    <operation name="saldoUser">
      <input wsam:Action="http://ws/BankWS/saldoUserRequest" message="tns:saldoUser" />
      <output wsam:Action="http://ws/BankWS/saldoUserResponse" message="tns:saldoUserResponse" />
    </operation>
    <operation name="cadastrarUser">
      <input wsam:Action="http://ws/BankWS/cadastrarUserRequest" message="tns:cadastrarUser" />
      <output wsam:Action="http://ws/BankWS/cadastrarUserResponse" message="tns:cadastrarUserResponse" />
    </operation>
    <operation name="alterCadastro">
      <input wsam:Action="http://ws/BankWS/alterCadastroRequest" message="tns:alterCadastro" />
      <output wsam:Action="http://ws/BankWS/alterCadastroResponse" message="tns:alterCadastroResponse" />
    </operation>
    <operation name="deposito">
      <input wsam:Action="http://ws/BankWS/depositoRequest" message="tns:deposito" />
      <output wsam:Action="http://ws/BankWS/depositoResponse" message="tns:depositoResponse" />
    </operation>
    <operation name="saque">
      <input wsam:Action="http://ws/BankWS/saqueRequest" message="tns:saque" />
      <output wsam:Action="http://ws/BankWS/saqueResponse" message="tns:saqueResponse" />
    </operation>
  </portType>
  <binding name="BankWSPortBinding" type="tns:BankWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="saldoUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cadastrarUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="alterCadastro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deposito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="saque">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BankWS">
    <port name="BankWSPort" binding="tns:BankWSPortBinding">
      <soap:address location="http://172.16.200.33:8080/BankWS/BankWS" />
    </port>
  </service>
</definitions>